<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnare</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js" integrity="sha512-SttpKhJqONuBVxbRcuH0wezjuX+BoFoli0yPsnrAADcHsQMW8rkR84ItFHGIkPvhnlRnE2FaifDOUw+EltbuHg==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src='home.js' defer></script> -->
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <!-- <script type="text/javascript" src="../public/questions.json"></script> -->
    <script>
        let ques_no = "<%= Question %>"
        let Name = "<%= Name %>"
        let RollNo = "<%= RollNo %>"
        let ans = "<%= Answer %>"
        let time = "<%= Time %>"
    </script>
</head>
<body>
    <div class="header">
        <h2>Mathematics Questionnare</h2>
        <h3>Class 10</h3>
    </div>
    <div class="question1">
        <h4>Have you studied the topic corresponding to this question?</h4>
    </div>
    <div class="options1">
        <div class="opradio">
            <label class="rad">
                <input type="radio" id="op1" name="sr1" value=1>
                <span>Yes</span><br>
            </label>
            <label class="rad">
                <input type="radio" id="op2" name="sr1" value=0>
                <span>No</span><br>
            </label>
        </div>
    </div>
    <div class="question2">
        <h4>Have you seen a similar question before?</h4>
    </div>
    <div class="options2">
        <div class="opradio">
            <label class="rad">
                <input type="radio" id="op1" name="sr2" value=1>
                <span>Yes</span><br>
            </label>
            <label class="rad">
                <input type="radio" id="op2" name="sr2" value=0>
                <span>No</span><br>
            </label>
        </div>
    </div>
    <div class="question3">
        <h4>Were you able to figure out how to solve this problem?</h4>
    </div>
    <div class="options3">
        <div class="opradio">
            <label class="rad">
                <input type="radio" id="op1" name="sr3" value=1>
                <span>Yes</span><br>
            </label>
            <label class="rad">
                <input type="radio" id="op2" name="sr3" value=0>
                <span>No</span><br>
            </label>
        </div>
    </div>
    <div class="question4">
        <h4>Did you have to guess the answer to this question?</h4>
    </div>
    <div class="options4">
        <div class="opradio">
            <label class="rad">
                <input type="radio" id="op1" name="sr4" value=1>
                <span>Yes</span><br>
            </label>
            <label class="rad">
                <input type="radio" id="op2" name="sr4" value=0>
                <span>No</span><br>
            </label>
        </div>
    </div>
    <div class="next">
        <button id="nextques" onclick="next()">Next question</button>
    </div>
</body>
<script>
    let ret = []
    function next() {
        if(ques_no<=15){
            ques_no = parseInt(ques_no)+1;
            let sr_1 = document.querySelector('input[name="sr1"]:checked').value;
            let sr_2 = document.querySelector('input[name="sr2"]:checked').value;
            let sr_3 = document.querySelector('input[name="sr3"]:checked').value;
            let sr_4 = document.querySelector('input[name="sr4"]:checked').value;
            // console.log(ques_no);
            window.location.replace('/answer_10?ques='+ques_no+'&ans='+ans+'&time='+time+'&name='+Name+'&rollno='+RollNo+'&sr1='+sr_1+'&sr2='+sr_2+'&sr3='+sr_3+'&sr4='+sr_4);
            // window.location.replace('/questions?ques='+ques_no+'&name='+Name+'&rollno='+RollNo);
        }
    }
</script>
</html>